<div>
  <h1><%= @list.name %></h1>

  <ul>
    <% @list.movies.each do |movie| %>
      <li>
        <strong><%= movie.title %></strong> (<%= movie.rating %> / 10)
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
</div>


<h3>bookmark comments of this list:</h3>
      <ul>
        <% @list.bookmarks.each do |bookmark| %>
        <li>
        <%= bookmark.movie.title %> : <%= bookmark.comment %>
        </li>
        <% end %>
      </ul>


<% if @list.image.attached? %>
  <%= image_tag @list.image %>
<% end %>
